body{
    background-color: #112;
    color: white;
    font-family: 'Poppins', sans-serif;;
    max-width: 1800px;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 251, 251);
    width: 1270px;
}

#logo{

    align-items: center;
    width: 200px;
    
}

#title{
    flex-direction: column;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    margin-left: 60px;
    width: 150px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 15px;
}

h1{
    font-weight: bolder;
    color: red
}
h2{
    display:block;
    font-weight: lighter;
    font-size: 15px;
color: black;

}

#title:hover{
    font-size: 25px;
    transition: 0.5s linear all;
    
}

main{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

ui{
    margin-right: 60px;
    font-weight: lighter;
    
}

li{
    display: inline-block;
    margin:20px;
    
}

img{
    width: 850px;
}

a{
    color: white
}
a:hover{
    color:red;
    transition: 0.5s linear all;
}

#home{
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
}

#h2{
    background-color: white;
    color: red;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
}

#home:hover{
    background-color: red;
    transition: 0.3s linear all;
    color: white
}

form{
    display:block;
    margin-bottom: 40px;
}

#searchbox{
    width: 500px;
    height: 20px;
    border-radius: 8px;
    padding: 15px;
    padding-right: 20px;
    border: none;
    box-sizing: border-box;
    transition: all 1s;
    font-size: 1.2em;


}

#searchbotton{
   
    background-color: white;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-sizing: border-box;
    width: 45px;
    height: 33px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    margin-left: 5px;

}

h3{
    text-align: center;
}

#buttonshare{
    width: 120px;
    height: 60px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-sizing: border-box;
    background-color:#112;
    border-color: white;
}

#backbutton{
    width: 120px;
    height: 60px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-sizing: border-box;
    background-color:#112;
    border-color: white;
}

#sharebutton{
    width: 120px;
    height: 60px;
    border-radius: 8px;
    border-radius: 8px;
    border-color: white;
    font-weight: bold;
    color: white;
    background-color: #112;
    cursor: pointer;
}

#sharebutton:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.3s linear all;    
    color: #112;
    border-color: #112 ;
}

#share{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#border-video{
    background-color: #112;

}

#linkador{
    border:0;
}

#main{
    padding-top: 100px;
}


#dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  #dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  #dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  #dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  #dropdown a:hover {background-color: #ddd;}
  
  #show {display: block;}
