body{
    background-color: rgb(43, 43, 43);
    color: white;
    font-family: 'Poppins', sans-serif;;
    max-width: 1800px;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0.5rem #0000004c;
    background-color: rgb(24, 23, 23);
    width: 1960px;
}

#title{
    flex-direction: column;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    margin-left: 60px;
}

h1{
    font-weight: bolder;
    color: red
}
h2{
    display:block;
    font-weight: lighter;
    font-size: 15px;

}

#title:hover{
    font-size: 25px;
    transition: 0.5s linear all;
    
}

main{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

ui{
    margin-right: 60px;
}

li{
    display: inline-block;
    margin:20px;
}

img{
    width: 850px;
}

a{
    color: white
}
a:hover{
    color:red;
    transition: 0.5s linear all;
}

#home{
    border: 2px solid red;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
}

#home:hover{
    background-color: red;
    transition: 0.3s linear all;
    color: white
}

form{
    display:block;
    margin-bottom: 40px;
}

#searchbox{
    width: 500px;
    height: 20px;
    border-radius: 8px;
    padding: 15px;
    border: none;
}

#searchbotton{
    width: 60px;
    height: 52px;
    background-color: white;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: red;
    cursor: pointer;
}

h3{
    text-align: center;
}

#buttonshare{
    width: 120px;
    height: 60px;
    background-color: white;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: red;
    cursor: pointer;
}

#backbutton{
    width: 120px;
    height: 60px;
    background-color: white;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 38, 255);
    cursor: pointer;
}

#sharebutton{
    width: 120px;
    height: 60px;
    background-color: white;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 38, 255);
    cursor: pointer;
}

#share{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}