body{
    background-color: #112;
    color: white;
    font-family: 'Poppins', sans-serif;;
    max-width: 1800px;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 251, 251);
    width: 1270px;
}

#title{
    margin-left: 30px;
}

main{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

ui{
    margin-right: 60px;
    font-weight: lighter;   
}

li{
    display: inline-block;
    margin:20px;
    color: red;
}

li:hover{
    font-weight: 600;
}

#home{
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 10px;
    border-radius: 15px;
    font-weight: bolder;
}

#home:hover{
    color: black;
    background-color: red;
    transition: 0.3s linear all;

}

form{
    display:block;
    margin-bottom: 40px;
}

#searchbox{
    width: 500px;
    height: 20px;
    border-radius: 8px;
    padding: 15px;
    padding-right: 20px;
    border: none;
    box-sizing: border-box;
    transition: all 1s;
    font-size: 1.2em;
}

#searchbotton{
   
    background-color: white;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-sizing: border-box;
    width: 45px;
    height: 33px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
    margin-left: 5px;
}

#buttonshare{
    width: 120px;
    height: 60px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-sizing: border-box;
    background-color:#112;
    border-color: white;
}

#backbutton{
    width: 120px;
    height: 60px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-sizing: border-box;
    background-color:#112;
    border-color: white;
}

#sharebutton{
    width: 120px;
    height: 60px;
    border-radius: 8px;
    border-radius: 8px;
    border-color: white;
    font-weight: bold;
    color: white;
    background-color: #112;
    cursor: pointer;
}

#sharebutton:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.3s linear all;    
    color: #112;
    border-color: #112 ;
}

#share{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#border-video{
    background-color: #112;

}

#linkador{
    border:0;
}


#logo{
    width: 250px;
}